<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/main.css">
    <!--<link rel="stylesheet" href="">-->
    <!--<link rel="shortout icon" type="image/x-icon" href="">-->

    <!--{% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title> Weather every where </title>
    {% endif %}

    {% block head %} {% endblock%}-->
</head>
<body>
	<main>
	<div id="cherche">
	<form method="POST">
		<legend><h1>Weather every where<h1><legend>
		<label for="cherche-bar"></label>
		<input id="cherche-bar" name="place" type="text">
	</form>
	</div>
	</main>
</body>
